<div class="row">
    <div class="col col-12">
        <div class="card mb-5">
            <div class="container">
                <div class="row">
                    <div class="col col-2 p-2">
                        <img class="avatar" src="{{post.avatar_url}}">
                    </div>
                    <div class="col col-10">
                        <p>{{post.username}}</p>
                        <p class="card-text">
                            <i class="fas fa-camera" style="font-size: 1em; color: grey"></i>
                            {{moment(post.created_at).format('MMMM Do YYYY, h:mm:ss a')}}</p>
                    </div>
                </div>
            </div>
            <img src="{{post.image_url}}" class="card-img-top" style="max-height: 500px">
            <div class="card-body">
                <h5 class="card-title"><a href="{{url_for('view_post', id = post.id)}}">{{post.body}}</a></h5>
                <h5 class='card-title'>views: {{post.view_count}}</h5>
            </div>
        </div>
    </div>
</div>