* {
  margin: 0;
}

body {
  background-color: #e9ebee;
}

.card {
  padding: 15px;
}

.avatar {
  height: 75px;
  width: 75px;
  border-radius: 38px;
}

nav {
  color: white;
  background-color: #4267b2;
}