<div class="row">
    <div class="col col-4">
    </div>
    <div class="col col-4 overflow-auto vh-100 mt-5">
        <div class="row d-flex justify-content-center align-items-center mb-5 mt-5">
            <div class="col col-12">
                <div class="container">
                    <form class="form-signin" method="POST" action="/posts">
                        <input name="body" type="body" class="form-control mb-2"
                            placeholder="What's on your mind {{current_user.email}}?">
                        <input name="image_url" class="form-control mb-2" placeholder="http://www.myimage.com/pic.png">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
        {% for post in posts %}
        {% include '/components/_post.html' %}
        {% endfor %}
    </div>
    <div class="col col-4">
    </div>
</div>